.item-container{
    width: 250px;
}

.image-container{
    height: 333px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.item-container img{
    width: 250px;
}

.item-info {
    height: 90px; /* Adjust this height to match the height of your button */
    margin-top: 6px;
}

.item-prices{
    margin-top: -20px;
    display: flex;
    flex-direction: row;
}

.wishlist-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: transform 0.1s ease-in-out;
}
