:root {
  --color-background-l0: #fff;
  --color-shadow: rgba(0, 0, 0, 0.12549019607843137);
  --color-text-l0: #1e2433;
  --color-background-l2: #e6e9f0;
  --color-background-l0: #fff;
  --color-text-l2: #818898;
  --color-divider: rgba(0, 0, 0, 0.12549019607843137);;
  --color-background-input: #fff;
  --color-text-l1: #3f475a;
  --color-background-inputotp: #e6e9f0;
  --color-primary: #3067f0;
  --color-text-white: #fff;
  --color-header-border: rgba(0, 0, 0, 0.12549019607843137);;
}


.auth_outer {
  width: 100vw;
  background-color: #eee;
  padding-top: 40px;
  padding-bottom: 150px;
}

.auth_main_container {
  width: 100%;
  max-width: 464px;
  margin: 0 auto;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.forgot_password_box {
  display: flex;
  flex-shrink: 0;
}

.auth_main_wrapper {
  display: flex;
  padding: 24px;
  background: var(--color-background-l0);
  flex-direction: column;
  flex-shrink: 0;
  box-shadow: 0 2px 4px 0 var(--color-shadow);
}

.auth_header_text {
  padding-bottom: 8px;
  color: var(--color-text-l0);
  font-size: 25px;
  font-weight: 700;
  border-bottom: 0px;
}

.tab_switcher_outer {
  display: flex;
  margin: 24px 0px 0px;
  flex-shrink: 0;
}

.tab_switcher_container {
  display: flex;
  padding: 4px;
  background: var(--color-background-l2);
  flex: 1 0 0%;
  height: 42px;
  border-radius: 4px;
}

.tab_switcher_inner {
  display: flex;
  flex: 1 0 0%;
  border-radius: 4px;
  cursor: pointer;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
}

.tab_active {
  background: var(--color-background-l0);
}

.tab_switcher_inner .login_text {
  display: block;
  color: var(--color-text-l0);
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 500;
  white-space: normal;
}

.tab_switcher_inner .signup_text {
  display: block;
  color: var(--color-text-l2);
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 500;
  white-space: normal;
}

.auth_form_box {
  margin: 24px 0px 0px;
}

.auth_input_container {
  display: flex;
  margin: 0px 0px 32px;
  flex-direction: column;
  flex-shrink: 0;
}

.input_email {
  margin: 0px 0px 22px;
  color: var(--color-text-l2);
  position: relative;
}

.auth_input_inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}

.auth_input_inner span {
  color: red;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: -8px;
}

.auth_input_field_box {
  position: relative;
  width: 100%;
  display: flex;
  -moz-box-align: center;
  align-items: center;
}

.input_field {
  border-radius: 4px;
  overflow: hidden;
  padding: 12px 16px;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.2px;
  border: solid 1px var(--color-divider);
  color: var(--color-text-l1);
  background-color: var(--color-background-input);
}

.input_password {
  margin: 0px 0px 12px;
  color: var(--color-text-l2);
  position: relative;
}

.auth_input_field_box .mdi:not(.mdi-pre) {
  position: absolute;
  right: 16px;
  font-size: 24px;
  background: transparent;
}


a {
  text-decoration: none !important;
}

.forgot_password_text {
  display: block;
  color: var(--color-text-l1);
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  font-weight: 600;
  white-space: normal;
}

.login_button {
  height: 48px;
  padding: 0px 14px;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  box-shadow: inset 0 -1px 0 0 var(--color-divider);
  cursor: pointer;
  outline: 0px;
  user-select: none;
  width: 100%;
  margin: 0px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  background: var(--color-primary);
  color: var(--color-text-white);
  border: 0px;
  text-align: left;
}

.login_button_text {
  display: block;
  color: var(--color-text-white);
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.02em;
  white-space: normal;
}

.auth_or_box {
  display: flex;
  margin: 30px 0px;
  -moz-box-align: center;
  align-items: center;
  flex-shrink: 0;
}

.or_divider {
  display: flex;
  background: var(--color-header-border);
  flex: 1 0 0%;
  height: 1px;
}

.or_text {
  display: block;
  color: var(--color-text-l2);
  font-size: 16px;
  line-height: 24px;
  margin: 0px 8px;
  text-align: left;
  font-weight: 600;
  white-space: normal;
}

.google_auth_button {
  height: 48px;
  padding: 0px 14px;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  box-shadow: none;
  cursor: pointer;
  outline: 0px;
  user-select: none;
  width: 100%;
  margin: 0px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  background: transparent;
  color: var(--color-text-l2);
  border: 1px solid var(--color-divider);
  text-align: center;
}

.auth_button_inner {
  display: flex;
  flex: 1 0 0%;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
}

.google_button_text {
  display: block;
  color: var(--color-text-l0);
  font-size: 14px;
  line-height: 20px;
  margin: 0px 0px 0px 10px;
  text-align: center;
  font-weight: 600;
  white-space: normal;
}

.apple_auth_button {
  height: 48px;
  padding: 0px 14px;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  box-shadow: none;
  cursor: pointer;
  outline: 0px;
  user-select: none;
  width: 100%;
  margin: 16px 0px 0px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  background: transparent;
  color: var(--color-text-l2);
  border: 1px solid var(--color-divider);
  text-align: center;
}

.apple_button_text {
  display: block;
  color: var(--color-text-l0);
  font-size: 14px;
  line-height: 20px;
  margin: 0px 9px 0px 10px;
  text-align: center;
  font-weight: 600;
  white-space: normal;
}


.auth-message-success {
  color: green;
  text-align: center;
}

.auth-message-error {
  color: red;
  text-align: center;
}
