.navbar{
    display: flex;
    justify-content: center;
    padding: 16px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.nav-logo img{
    width: 50px;
}

.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    color: #626262;
    font-size: 17px;
    font-weight: 600;
    margin-left: 18px;
    padding-left: 0;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 15px;
    text-transform: uppercase;
}

.search{
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: #696e79;
    background: #f5f5f6;
    margin: 0px 25px;
    padding: 5px 10px;
}
.search-icon{
    width: 24px;
    height: 24px;
    padding-left: 10px;
}
.search input{
    width: 100%;
    height: 20px;
    font-size: 14px;
    padding: 8px 10px 10px;
    color: #696e79;
    background: #f5f5f6;
    border: 0px;
    outline: none;
}

.nav-item-link {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}


.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
}

.nav-icon-container {
    position: relative; /* Set to relative to position wishlist count absolutely */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 12px;
}

.nav-icon-container p{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav-icon{
    width: 25px;
    height: 25px;
    color: black;
}
.nav-cart-count{
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -27px;
    border-radius: 11px;
    font-size: 12px;
    background-color: red;
    color: white;
    z-index: 1;
}
.nav-dropdown{
    display: none;
}

.nav-wishlist-count {
    position: absolute;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -47px;
    margin-left: 28px;
    border-radius: 11px;
    font-size: 12px;
    background-color: red;
    color: white;
    z-index: 1;
}

@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        font-size: 16px;
    }
    .nav-menu li {
        padding: 0 6px;
    }
    .nav-item-link {
        max-width: 100px;
    }
    .nav-login-cart{
        gap: 10px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        font-size: 14px;
    }
    .nav-menu li {
        padding: 0 5px;
    }    
    .nav-item-link {
        max-width: 70px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;
    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
}
@media(max-width: 900px){
    .navbar{
        margin-right: 30px;
        padding: 10px 0px;
    }
    .nav-logo{
        margin-left: 25px;
    }
    .nav-dropdown{
        display: block;
        width: 30px;
        margin-left: 15px;
        rotate: -90deg;
        transition: 0.5s;
    }
    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background: white;
        justify-content: center;
        top: 50px;
    }
    .nav-menu li {
        padding: 5px 15px;
    }    
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
}
@media(max-width:500px){
    .navbar{
        padding: 8px 0px;
        gap: 0;
    }
    .nav-logo{
        transform: scale(0.8);
    }
    .nav-menu{
        height: 70px;
        top: 50px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
}